:root {
    /* ### Neutral */
    --Neutral-900: hsl(33, 15%, 15%);
    --Neutral-800: hsl(33, 22%, 20%);
    --Neutral-700: hsl(32, 20%, 29%);
    --Neutral-600: hsl(33, 17%, 41%);
    --Neutral-400: hsl(36, 22%, 86%);
    --Neutral-200: hsl(30, 24%, 93%);
    --Neutral-100: hsl(35, 60%, 96%);
    --Neutral-50: hsl(40, 60%, 98%);
    --Neutral-0: hsl(0, 0%, 100%);

    /* ### Sun */

    --Sun-500: hsl(42, 83%, 58%);
    --Sun-300: hsl(44, 84%, 75%);
    --Sun-200: hsl(45, 100%, 74%);
    --Sun-50: hsl(41, 100%, 93%);

    /* ### Terracotta */

    --Terracotta-700: hsl(15, 69%, 37%);
    --Terracotta-600: hsl(15, 74%, 41%);
    --Terracotta-500: hsl(18, 62%, 47%);
    --Terracotta-400: hsl(22, 72%, 56%);

    /* ### Blue */

    --Blue-500: hsl(230, 49%, 56%);

    /* ### Rose */

    --Rose-500: hsl(340, 48%, 52%);

    --max-width: 375px;

    --card-width:275px;
    --card-height: 275px;

}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--Sun-50);
    /* height: 100%; */
}

.layout {
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    /* height: inherit; */
    min-height: 100vh;
    /* min-width: 100vw; */

}

main {
    /* flex:1; */
    /* min-width: 0; */
    width: 100%;
}

.aside {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* max-width: var(--max-width); */
    width: 100%;
}


.aside__logo {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
}

.aside__content {
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;

    /* height: 100%; */
}

.aside__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hidden {
    display: none;
}

/* ------------------- */

.header {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 992px) {

    .layout {
        flex-direction: row;
    }

    .aside {
        width: 250px;
        flex-shrink: 0;
    }

    main {
        flex: 1;
        min-width: 0;
    }

    .header {
        width: 100%;
    }
}


/* Booking Cards Section*/

.booking {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 4rem;
}

.booking__card--left {
    border: 1px solid orange;
    width: 100%;
    max-width: 375px;
    /* height: 100%; */
    height: 375px;
    transform: rotate(15deg);
}

.booking__card--right {
    border: 1px solid orange;
    width: 100%;
    max-width: 375px;    
    /* height: 100%; */
    height: 375px;
    transform: rotate(-15deg);
}


/* Cards Section */
.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.card__01 {
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--card-width);

    width: var(--card-width);    
    height: var(--card-height);
}

.card__02 {
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--card-width);

    width: var(--card-width);    
    height: var(--card-height);
}

@media (min-width: 992px) {

    .booking {
        /* border: 1px solid black; */
        flex-direction: row;
        justify-content: space-around;
    }

    .cards {
        border: 1px solid red;
        flex-direction: row;
        width: 100%;
        /* flex-shrink: 0; */
        justify-content: space-around;

}
}