:root {
    /* ### Neutral */
    --Neutral-900: hsl(33, 15%, 15%);
    --Neutral-800: hsl(33, 22%, 20%);
    --Neutral-700: hsl(32, 20%, 29%);
    --Neutral-600: hsl(33, 17%, 41%);
    --Neutral-400: hsl(36, 22%, 86%);
    --Neutral-200: hsl(30, 24%, 93%);
    --Neutral-100: hsl(35, 60%, 96%);
    --Neutral-50: hsl(40, 60%, 98%);
    --Neutral-0: hsl(0, 0%, 100%);

    /* ### Sun */

    --Sun-500: hsl(42, 83%, 58%);
    --Sun-300: hsl(44, 84%, 75%);
    --Sun-200: hsl(45, 100%, 74%);
    --Sun-50: hsl(41, 100%, 93%);

    /* ### Terracotta */

    --Terracotta-700: hsl(15, 69%, 37%);
    --Terracotta-600: hsl(15, 74%, 41%);
    --Terracotta-500: hsl(18, 62%, 47%);
    --Terracotta-400: hsl(22, 72%, 56%);

    /* ### Blue */

    --Blue-500: hsl(230, 49%, 56%);

    /* ### Rose */

    --Rose-500: hsl(340, 48%, 52%);

    --max-width: 375px;

    --card-width: 300px;
    --card-height: 250px;

    --font-family-F: "Fraunces", serif;

    --font-family-Sans: "DM Sans", sans-serif;

    --font-family-Mono: "DM Mono", monospace;

}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--Neutral-200);
    /* height: 100%; */
    font-family: var(--font-family-Sans);
}

.layout {
    border: 1px dotted salmon;
    display: flex;
    flex-direction: column;
    /* height: inherit; */
    min-height: 100vh;
    /* min-width: 100vw; */

}

main {
    /* flex: 1;
    min-width: 0; */

    width: 100%;
}

.aside {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.aside__logo {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    /* width: 95%; */

    border-bottom: 1px solid var(--Neutral-400);
}

.aside__logo img {
    width: 40px;
    height: 40px;
}

.aside__logo__text {
    display: flex;
    flex-direction: column;
}

.aside__logo__text span:nth-child(1) {
    color: var(--Terracotta-500);
    font-style: italic;
    font-weight: 600;
}

.aside__logo__text span:nth-child(2) {
    color: black;
}

.aside__content {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
}

.header__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header__info>span {
    color: var(--Neutral-600);
    text-transform: uppercase;
}

.header__info__B {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 3rem;
}

.header__info__B span {
    font-family: var(--font-family-F);
    color: var(--Terracotta-600);
    font-style: italic;
}

.header__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.header__button button:nth-child(1) {
    border: none;
    background-color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
}

.header__button button:nth-child(2) {   
    background-color: var(--Neutral-900);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    color: white;
}

.header__button button:hover{
    border: 2px solid var(--Terracotta-700);
}


@media (min-width: 992px) {

    .layout {
        flex-direction: row;
    }

    .aside {
        width: 250px;
        flex-shrink: 0;
        /*Define la altura total de la pantalla*/
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .aside__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* ocupa todo el alto restante con el .aside */
        flex: 1;
        border-right: 1px solid var(--Neutral-400);
    }

    .aside__content__nav {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }

    .aside__nav_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;
        height: 3rem;
        color: black;
        text-decoration: none;
    }

    .aside__nav_item:hover {
        background-color: var(--Neutral-50);
        border:1px solid var(--Terracotta-700);
        border-radius: 8px;

    }

    .aside__content__down {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 0.75rem 0 0.75rem;

    }

    .aside__weather {
        position: relative;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        background-color: var(--Sun-200);
        height: 100px;
        padding-left: 0.75rem;
        border-radius: 0.75rem;

        font-family: var(--font-family-Mono);
        font-size: 0.75rem;
    }

    .aside__weather span:nth-child(2) {
        text-transform: uppercase;
    }

    .aside__weather span:nth-child(3) {
        font-size: 2rem;
        font-family: var(--font-family-F);
    }

    .aside__weather__img {
        position: absolute;
        right: -40px;
        top: -40px;
        width: 100px;
        height: 100px;
    }

    .aside__address {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        padding-top: 1rem;
        border-top: 1px solid var(--Neutral-400);
        font-family: var(--font-family-Mono);
        text-transform: uppercase;
    }

    main {
        /* flex: 1;
        min-width: 0; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header {
        /* width: 100%; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 2rem 0rem 2rem;
    }
}


/* Booking Cards Section*/

.booking {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 4rem;
}

.booking__card--left {
    display:flex;
    flex-direction: column;
    border: 1px solid orange;
    width: 100%;
    max-width: 375px;
    /* height: 100%; */
    height: 375px;
    transform: rotate(0deg);
    background-color: var(--Neutral-100);
    padding: 1rem 1rem 1rem 1rem;
}

.booking__card__l1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booking__card__r {
    display: flex;
    flex-direction: column;
    padding: 0rem 0 1rem 0;
}

.booking__card_l {
    display: flex;
    flex-direction: column;
}

.booking__card--p {
    /* border: 1px solid olivedrab; */
    display: none;
}

.booking__card--right {
    border: 1px solid orange;
    width: 100%;
    max-width: 375px;
    /* height: 100%; */
    height: 375px;
    transform: rotate(0deg);
    background-color: var(--Terracotta-500);
}


/* Cards Section */
.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding-bottom: 3rem;
}

.card__01 {
    border: 1px solid blueviolet;
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--card-width);

    width: var(--card-width);
    height: var(--card-height);
}

.card__02 {
    border: 1px solid blueviolet;
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--card-width);

    width: var(--card-width);
    height: var(--card-height);
}

@media (min-width: 992px) {

    .booking {
        position: relative;
        flex-direction: row;
        justify-content: center;
        gap: 0;
    }

    .booking__card--left {
        transform: rotate(-8deg);
    }

    .booking__card--p {
        display: block;
        position: absolute;

        padding-bottom: 1rem;

        left: 50%;
        bottom: 0;

        transform: translateX(-50%);
    }

    .booking__card--right {
        transform: rotate(8deg);
        z-index: 1;
    }

    .cards {
        border: 1px solid red;
        flex-direction: row;
        width: 100%;
        /* flex-shrink: 0; */
        justify-content: space-around;

    }
}