/*
font-family: "Public Sans", sans-serif;
*/
/*GENERALES*/
/*Selector universal*/
:root {
    --margin: 5rem;
    --dark-blue: hsl(233, 26%, 24%);
    --Gray-600: hsl(233, 8%, 62%);
    --Gray-100: hsl(220, 16%, 96%);
    --Gray-50: hsl(0, 0%, 98%);
    --White: hsl(0, 100%, 100%);
}

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    /*asigna el tamaño automaticamente al tamaño asignado*/
    margin: 0;
}

html {
    font-size: 14px;
    /*16px es el valor por defecto*/
}

body {
    background-color: var(--White);
    color: var(--dark-blue);
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: greenyellow;
}

img {
    /*ToDo: RWD(Responsive Web Design) para las imagenes */
    max-width: 100%;
    /*La imagen nunca sera mas grande que su contenedor*/
    height: auto;
}


/* UTILITARIOS */
.hidden {
    display: none;
}

.wrapper {
    /* width: 1440px; */
    /*ToDo: Adaptar el ancho a dispositivos mas pequeño como tablet o mobile*/
    width: min(100% -3rem 1440px);
    margin: 0 auto;
}

/*-----------------Section Header-----------------------*/

.header {
    /* border: 1px solid red; */
    padding: 2rem 4rem 2rem 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 42px;
}

.header__logo {
    /* border: 1px solid red; */
    border: none;
}


.header__nav {
    display: none;
    /* border: 1px solid red; */
    gap: 1.5rem;
}

@media(min-width:768px) {
    .header__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 42px;
        color: var(--Gray-600);
    }
}

.header__buttom {
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: linear-gradient(0deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
    border-radius: 15px;
    color: var(--White);
}

/*-----------------Section Hero-----------------------*/

.hero {
    /* border: 1px dotted red; */
    color:var(--White);
     /* margin-left: var(--margin); */
}

.hero__container {
     /* border: 1px dotted red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 0rem;
    margin-left: var(--margin);   
}

@media (min-width:992px) {
    .hero__container {
        flex-direction: row;
    }
}

.hero__text {
    order: 2;
    max-width: 500px;
    /* border: 1px solid green;     */
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

@media(min-width:992px) {
    .hero__text {
        order: 1;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
}

.hero__title {
    color: var(--dark-blue);
    font-size: 2.75rem;
    font-weight: 700;
}

.hero__description {
    color: var(--Gray-600);
}

.hero__buttom {
    border: none;
    padding: 0.75rem 1.75rem 0.75rem 1.75rem;
    background: linear-gradient(0deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
    border-radius: 2rem;
    color: var(--Gray-50);
}

.hero__image {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 775px;
}


@media(min-width:992px) {
    .hero__image {
        order: 1;
    }
}

.hero__image__bg {
    
    position: absolute;

    
    top: -125px;
    z-index: 1;
}

.hero__image__mockups {
    position: absolute;
    right: -125px;
    top: -150px;
    z-index: 2;
}


/*-----------------Section Advantages-----------------------*/

.advantages__wrapper {
    /* border: 1px solid magenta; */
    background-color: hsl(220, 16%, 96%);
    gap: 2rem;

    padding-top: 3rem;
    padding-bottom: 3rem;



    /* width: 100%; */
}

.advantages__container {
    margin-left: var(--margin);
    margin-right: var(--margin);

}


.advantages__text {
    /* border: 1px solid black; */
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* padding-left: 10rem; */

}

.advantages__text h2 {
    font-size: 2rem;
    /* font-weight: 400; */
    text-align: center;
}

@media (min-width:992px) {
    .advantages__text h2 {
        text-align: left;
        /* justify-content: left; */

    }
}

.advantages__text p {
    color: hsl(233, 8%, 62%);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
}

@media (min-width:992px) {
    .advantages__text p {
        text-align: left;

    }
}

.advantages {
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 3rem 0rem 3rem 0rem;

}

@media (min-width:992px) {
    .advantages {
        flex-direction: row;
        /* justify-content: space-around; */


    }
}

.advantages__item {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    gap: 2rem;

}

@media (min-width:992px) {
    .advantages__item {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }
}

.advantages__item p {
    font-size: 1rem;
    font-weight: 200;
    color: hsl(233, 8%, 62%);
    line-height: 1.5rem;
    text-align: center;
}

@media (min-width:992px) {
    .advantages__item p {
        text-align: left;

    }
}


/*-----------------Section Article-----------------------*/
.article {
    background-color: var(--Gray-50);
    /* border: 1px solid red; */
    /* margin-left: var(--margin); */
    /* margin-right: var(--margin); */
    color: var(--dark-blue);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.article__container {
    margin-left: var(--margin);
    margin-right: var(--margin);

}

.article__title {

    text-align: center;
    padding: 2rem 0 2rem 0;
    font-size: 1.5rem;
}

@media (min-width:992px) {
    .article__title {
        text-align: left;
    }
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

@media (min-width:992px) {
    .articles {
        flex-direction: row;
    }
}

.articles__items {
    /* border: 1px solid red; */
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 300px;
    height: 400px;
    gap: 1rem;
}

.articles__items__p1 {
    font-size: 0.75rem;
    color: var(--Gray-600);
}

.articles__items__p2 {
    font-size: 1rem;
    color: var(--Gray-600);
}

.articles__items__h3 {
    font-size: 1.25rem;
    color: var(--Gray-600);
    font-weight: 600;
}

/*-----------------Section Footer-----------------------*/
.footer {
    background-color: var(--dark-blue);
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: var(--Gray-50);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 4rem;
}

@media (min-width:992px) {
    .footer {
        flex-direction: row;
        justify-content: space-around;
    }
}

.footer__info {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 3rem;

}


.footer__contact,
.footer__others {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1rem;
    text-align: center;

}

@media (min-width:992px) {
    .footer__contact {
        text-align: left;
    }
}

@media (min-width:992px) {
    .footer__others {
        text-align: left;
    }
}

.footer__request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__request button {
    border: none;
    padding: 0.75rem 1.75rem 0.75rem 1.75rem;
    background: linear-gradient(0deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
    border-radius: 2rem;
    color: var(--Gray-50);
}

.footer__request span {
    font-size: 0.75rem;
}